#page-header{
    float:none !important;
}

#layout-table.format-page {
    width: 100%;
}

.format-page {
    margin-left:auto;
    margin-right:auto;
}

.format-page .spacer {
  display: block;
}

.page-region{
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}

.page-block-region.tabular{
    float:none !important;
}

#page-region-top{
    margin-bottom:10px;
    height:36px;
}

#page-region-top.tabular{
    height:36px;
}

#page-region-main.tabular{
    padding-left:20px;
}

#page-region-bottom{
    margin-top:10px;
}

#page-region-bottom.tabular{
    height:36px;
}

.page-nav-prev{
    width:20%;
    float: left;
    padding-left: 12px;
    padding-right: 5px;
}

.page-nav-next{
    width:20%;
    float: right;
    text-align:right;
    padding-right: 12px;
    padding-left: 5px;
}

.page-nav-back{
	text-align:center;
    float: left;
    width:56%;
}

.page-nav-back .singlebutton,
.page-nav-back .singlebutton *{
    display:inline;
}

.page-unpublished{
    text-align:center;
    width:100%;
}

#course-view .addpageitems,
#site-index .addpageitems {
    padding-top: 5px;
}

#editing-table .activity-list li {
    list-style-type: none;
}

#editing-table .section_add_menus {
    text-align: center;
    margin-bottom: 10px;
}

#editing-table .section_add_menus * {
    white-space: nowrap;
}

.format-page .unpublished,
.format-page .unpublished *{
   background-image : url('unpublished_background.gif');
}

#addinstance_jump {
    width : 350px;
}

/* Currently Disabled
.format-page .resourcewrapper.hidden .remainingtext,
.format-page .resourcewrapper.hidden .hideresource {
    display: none;
}

.format-page .resourcewrapper .showresource {
    display: none;
}

.format-page .resourcewrapper.hidden .showresource {
    display: inline;
}*/

table.format-page td#middle-column .sideblock .content{
    background-color:#ffffff;
}

.modtype{
    font-size : 0.8em;
    font-weight:bolder;
    color:gray;
}

.onoffselectors SELECT{
    font-size : 0.7em;
}

.individualize.col1{
}

TABLE.individualize TR TD{
    padding-top: 5px;
}

.pageeditingtable{
    margin-bottom:20px;
    margin-top:20px;
}

div.format-page.pagediscussion{
   border : 1px solid #E0E0E0;
   background-color: #F0F0F0;
   padding:10px;
}

.modtype{
     font-weight:bold;
}

#pagestree td,
#pagestree th {
    padding:0px !important;
}

.dimmed{
    opacity:0.5;
}

.groupselector select{
    width:15em;
    text-align:left;
}

#format-page-editing-block{
    background-color:#ffdada;
    opacity:0.7;
    margin:10px;
    padding:5px;
    border-radius:7px;
    border:1px dashed #A0A0A0
}

.format-page-tools-caption{
    padding-left:10px;
    padding-right:10px;
    width:33%;
}

.format-page-action-cell{
    text-align:center;
    padding:10px;
    width:33%;
}

#discussion-panel{
    background-color:#f8f8f8;
}

#format-page-content{
    background-color:#f8f8f8;
    padding:5px;
}

.disabled-page{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.page-publishing{
    text-align:center;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.format-page-urlselect-hidden select{
    background-color: #FEBDB6;
}

.format-page-urlselect-protected select{
    background-color: #FBE395;
}

.format-page-urlselect-published select{
    background-color: #AEEDA3;
}

.format-page-urlselect-public select{
    background-color: #ADABFE;
}

#region-page-table .editing_move {
  display: inline !important;
}

.discussion-has-content,
.discussion-has-changed {
    font-weight:bolder;
}

.discussion-has-changed {
    color:red;
}

.no-width {
    border: dashed 2px #e0e0e0;
    border-radius:8px;
    -moz-border-radius:8px;
    content:'0 width';
}