#page-header{
    float:none !important;
}

#layout-table.format-page {
    width: 100%;
}

.format-page {
    margin-left:auto;
    margin-right:auto;
}

.format-page .course-content{
    max-width:960em;
}

.format-page .spacer {
  display: block;
}

.page-region{
    clear:both;
    padding-bottom:10px;
    padding-top:10px;
}

.page-block-region.tabular{
    float:none !important;
}

#page-region-top{
    height:36px;
    margin-bottom:10px;
}

#page-region-top.tabular{
    height:36px;
}

#page-region-main.tabular{
    padding-left:20px;
}

#page-region-bottom{
    margin-top:10px;
}

#page-region-bottom.tabular{
    height:36px;
}

.page-nav-prev{
    float: left;
    padding-left: 12px;
    padding-right: 5px;
    width:20%;
}

.page-nav-next{
    float: right;
    padding-right: 12px;
    padding-left: 5px;
    text-align:right;
    width:20%;
}

.page-nav-back{
    float: left;
    text-align:center;
    width:56%;
}

.page-nav-back .singlebutton,
.page-nav-back .singlebutton *{
    display:inline;
}

.page-unpublished{
    text-align:center;
    width:100%;
}

#course-view .addpageitems,
#site-index .addpageitems {
    padding-top: 5px;
}

#editing-table .activity-list li {
    list-style-type: none;
}

#editing-table .section_add_menus {
    margin-bottom: 10px;
    text-align: center;
}

#editing-table .section_add_menus * {
    white-space: nowrap;
}

.format-page .unpublished,
.format-page .unpublished *{
   background-image : url('unpublished_background.gif');
}

#addinstance_jump {
    width : 350px;
}

table.format-page td#middle-column .sideblock .content{
    background-color:#ffffff;
}

.modtype{
    color:gray;
    font-size : 0.8em;
    font-weight:bolder;
}


.onoffselectors {
    margin-top:10px;
}

.onoffselectors select {
    font-size : 0.7em;
}

.individualize.col1{
}

table.individualize tr td {
    padding-top: 5px;
}

table.individualize tr td img {
    height: 16px;
}

.individualize select {
    max-width:50px;
    font-size:1.02em;
    padding-left:2px;
    margin-left:5px;
}

.pageeditingtable{
    margin-bottom:20px;
    margin-top:20px;
}

div.format-page.pagediscussion {
    border : 1px solid #E0E0E0;
    background-color: #F0F0F0;
    padding:10px;
}

.modtype{
    font-weight:bold;
}

#pagestree td,
#pagestree th {
    padding:0px !important;
}

.dimmed{
    opacity:0.5;
}

.groupselector select{
    text-align:left;
    width:15em;
}

#format-page-editing-block{
    background-color:#ffdada;
    border-radius:7px;
    border:1px dashed #A0A0A0
    margin:10px;
    opacity:0.7;
    padding:5px;
}

.format-page-tools-caption{
    padding-left:10px;
    padding-right:10px;
    width:33%;
}

.format-page-action-cell{
    padding:10px;
    text-align:center;
    width:33%;
}

#format-page-content{
    padding:5px;
}

.disabled-page{
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.page-publishing{
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
    opacity: 0.4;
    text-align:center;
}

.format-page-urlselect-hidden select{
    background-color: #FEBDB6;
}

.format-page-urlselect-protected select{
    background-color: #FBE395;
}

.format-page-urlselect-published select{
    background-color: #AEEDA3;
}

.format-page-urlselect-public select{
    background-color: #ADABFE;
}

#region-page-table .editing_move {
  display: inline !important;
}

.discussion-has-content,
.discussion-has-changed {
    font-weight:bolder;
}

.discussion-has-changed {
    color:red;
}

.no-width {
    -moz-border-radius:8px;
    border-radius:8px;
    border: dashed 2px #e0e0e0;
    content:'0 width';
}

.cmaudit * {
    display:inline;
    margin-top:10px;
}

.moduletypechooser, 
.usersearchform {
    display : inline;
}

#importfilesasresources-div {
    min-height:250px;
    width:90%;
}