


<!-- /format_page/navbuttons -->
<div class="region-content bootstrap row-fluid">

    {{#left}}
    <div class="page-nav-prev span{{left}} col-{{left}}">
        {{{prev}}}
    </div>
    {{/left}}

    {{#mid}}
    <div class="page-publishing span{{mid}} col-{{mid}}">

        {{#publishsignals}}
        <div class="page-publishing">
            {{{publishsignals}}}
        </div>
        {{/publishsignals}}

        {{#isbottom}}
        {{#cancheckstructure}}
        <a class="btn" href="{{{checkurl}}}" target="_blank">{{#str}}checkdata, format_page{{/str}}</a>
        {{/cancheckstructure}}
        {{/isbottom}}
    </div>
    {{/mid}}

    {{#right}}
        <div class="page-nav-next span{{right}} col-{{right}}">
            {{{next}}}
        </div>
    {{/right}}
</div>
<!-- /format_page/navbuttons -->