


<!-- format_page/xnavbuttons -->
<div id="page-x-region-bottom" class="page-x-region page-region">

    {{#aspage}}
    <div class="page-nav-prev row-fluid">
        {{{prevbutton}}}
    </div>
    {{/aspage}}

    {{#hasbacktocourse}}
    <div class="page-nav-back row-fluid">
        {{{backtoucoursebutton}}}
    </div>
    {{/hasbacktocourse}}

    {{#aspage}}
    <div class="page-nav-next row-fluid">
        {{{nextbutton}}}
    </div>
    {{/aspage}}

</div>
<!-- /format_page/xnavbuttons -->